@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primaryColor: #03A6EF;
    --textIcons: #FFFFFF;
    --primaryTextColor: #212121;
    --darkPrimaryColor: #1976D2;
    --lightPrimaryColor: #BBDEFB;
    --accentColor: #536DFE;
    --secondaryTextColor: #757575;
    --dividerColor: #BDBDBD;
}
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
.hideThings {
    display: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 320px) {
    .container {
        width: 90%;
    }
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
.banner {
    width: 100%;
    height: 70px;
    background-color: #767676;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.banner .banner-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .tag-line p {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.banner h4 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    z-index: 1;
}