/* Start Header */
header {
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .icon {
    color: var(--textIcons);
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
    cursor: pointer;
}
header .site-name {
    font-size: 1.6rem;
    color: var(--primaryColor);
}
header .search-box {
    margin-left: 60px;
}
header .search-box .form {
    display: flex;
}
header .search-box .form input{
    width: 400px;
    height: 35px;
    border: 1px solid var(--primaryColor);
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    outline: none;
    border-right: none;
    padding: 5px 10px;
    font-size: 1.3rem;
}
header .search-box .form button {
    width: 40px;
    height: 35px;
    font-size: 1.2rem;
    color: var(--primaryColor);
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    border: 1px solid var(--primaryColor);
    background-color:  var(--textIcons);
    cursor: pointer;
}
header .user {
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--textIcons);
    background-color: var(--primaryColor);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: default;
}
/* End Header */

/* Start content-area */
.content-area {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* End content-area */

/* Start Nav */
.nav {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-top: 5px solid  var(--dividerColor);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 1;
    position: relative;
}
.nav .nav-title {
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav .elements {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.nav .elements .item {
    width: 80%;
    height: 45px;
    font-size: 1.5rem;
    color: var(--secondaryTextColor);
    border: 1px solid var(--primaryColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.nav .elements .item:hover:not(.active) {
    background-color: var(--lightPrimaryColor);
    color: #fff;
}
.nav .elements .active {
    background-color: var(--primaryColor);
    color: #fff;

}
.nav .elements .item .main {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.nav .elements #logout {
    background-color: #f00;
    color: #fff;
    border: 1px solid #f00;
    position: absolute;
    bottom: 40px;
}
.nav .elements #logout:hover {
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00;
}
/* End Nav */

/* Start Content */
.content {
    width: 80%;
    height: 100%;
    overflow: auto;
}
.content .title {
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--primaryColor);
    color:  var(--textIcons);
    position: relative;
}
.content .title .back_arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
}
.content .sub-sec {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.content .sub-sec .item {
    width: calc(95% / 3);
    height: 200px;
    background-color: var(--primaryColor);
    color: var(--textIcons);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
#New_category,
#New_product,
#All_products,
#OngoingOrdersBtn {
    cursor: pointer;
}
.content .sub-sec .item .catID {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--textIcons);
    font-weight: bolder;
    color:  var(--primaryColor);
    padding: 5px 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 0 8px 0 8px;
    -webkit-border-radius: 0 8px 0 8px;
    -moz-border-radius: 0 8px 0 8px;
    -ms-border-radius: 0 8px 0 8px;
    -o-border-radius: 0 8px 0 8px;
}
.content .sub-sec .item .pic {
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .sub-sec .item .pic img {
    width: 100%;
    height: 100%;
}
.content .sub-sec .item .pic i {
    font-size: 5rem;
}
.content .sub-sec .item .details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .sub-sec .item .details p {
    font-size: 1.3rem;
}
.content .sub-sec .item .details .iconsInItems {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 5%;
    right: 0;
    background-color: var(--textIcons);
    color: var(--primaryColor);
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 16px 0 0 16px;
    -webkit-border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
    -ms-border-radius: 16px 0 0 16px;
    -o-border-radius: 16px 0 0 16px;
    border: 1px solid var(--primaryColor);
}
.content .sub-sec .item .details .iconsInItems i {
    cursor: pointer;
    margin: 10px 0px;
}
.content .sub-sec .item .details .iconsInItems i:nth-child(2) {
    color: #f00;
}
.content .sub-sec .item .details .iconsInItems i:hover {
    opacity: 0.5;
}
.allProducts-section table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--primaryColor);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: var(--primaryTextColor);
    cursor: default;
}
.allProducts-section table thead {
    background-color: var(--primaryColor);
    color: var(--textIcons);
    font-size: 1.4rem;
    text-transform: uppercase;
}
.allProducts-section table .pImage {
    width: 50px;
    height: 50px;
}
.allProducts-section table .pImage img {
    width: 100%;
    height: 100%;
}
.allProducts-section table tr {
    margin: 10px 0;
    border-bottom: 1px solid var(--primaryColor);
}
.allProducts-section table td{
    padding: 5px 10px;
    text-align: center;
}
.allProducts-section table .ProductIcons {
    height: 100%;
}
.allProducts-section table .ProductIcons i {
    cursor: pointer;
    margin: 10px;
}
.allProducts-section table .ProductIcons i:nth-child(1) {
    color: var(--primaryColor);
}
.allProducts-section table .ProductIcons i:nth-child(2) {
    color: #f00;
}
.allProducts-section table .ProductIcons i:hover {
    opacity: 0.5;
}
.content .product-section,
.content .order-section,
.content .user-section,
.content .allProducts-section,
.content .order-Ongoing-section {
    display: none;
}
.content .order-Ongoing-section table {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.content .order-Ongoing-section table thead {
    background-color: var(--primaryColor);
    color: var(--textIcons);
    font-size: 1.4rem;
    text-transform: uppercase;
}
.content .order-Ongoing-section table tr {
    margin: 10px 0;
    border-bottom: 1px solid var(--primaryColor);
}
.content .order-Ongoing-section table td{
    padding: 5px 10px;
    text-align: center;
}
.content .order-Ongoing-section table tbody tr td {
    font-size: 1.2rem;
    border-bottom: 1px solid var(--primaryColor);
}
/* End Content */
/* Start Modal */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: #0000005a;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}
.modal .modal-content {
    width: 40%;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0 0 10px 0px #000;
    position: relative;
    animation: modal 0.3s ease-in-out;
    -webkit-animation: modal 0.3s ease-in-out;
    overflow: auto;
}
.filesInput {
    width: 90%;
}
@keyframes modal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal .modal-content .modal-title {
    position: absolute;
    top: 0px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--primaryColor);
    color: var(--textIcons);
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    -ms-border-radius: 16px 16px 0 0;
    -o-border-radius: 16px 16px 0 0;
}
.modal .modal-content .form {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.modal .modal-content .buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modal .modal-content .form input[type="text"],
.modal .modal-content .form input[type="number"],
.modal .modal-content .form select,
#editModal .editModal-content input[type="text"] {
    width: 90%;
    height: 40px;
    border: 1px solid var(--primaryColor);
    padding: 5px 10px;
    font-size: 1.3rem;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 5px;
}
.modal .modal-content .form input[type="file"] {
    width: 90%;
    text-align: center;
    outline: none;
    border: none;
    background-color: var(--primaryColor);
    color: var(--textIcons);
    padding: 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
.modal .modal-content .form input[type="submit"],
.modal .modal-content .form input[type="button"],
.modal .modal-content .buttons input[type="button"],
.modal .modal-content .buttons input[type="submit"] {
    width: 40%;
    height: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    color: var(--textIcons);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.modal .modal-content .form input[value="Cancel"],
.modal .modal-content .buttons input[value="Delete"] {
    border: 1px solid #f00;
    background-color: var(--textIcons);
    color: #f00;
}
.modal .modal-content .form input[type="submit"]:hover,
.modal .modal-content .buttons input[type="button"]:hover {
    background-color: #00aeff;
    opacity: 0.8;
}
.modal .modal-content .form input[value="Cancel"]:hover,
.modal .modal-content .buttons input[value="Delete"]:hover {
    background-color: rgba(255, 0, 0, 0.699);
    color: var(--textIcons);
}
.modal .modal-content .form select option {
    background-color: var(--primaryColor);
    color: var(--textIcons);
}
/* End Modal */
/* Start success */
#success {
    display: none;
}
#success .success-father,
#confirmModal .confirm-father,
#editModal .editModal-father {
    gap: 20px;
    flex-direction: column;
}
.modal .modal-content .success-title {
    background-color: #5cb85c;
}
.modal .modal-content .success-content {
    padding-top: 50px;
}
.modal .modal-content .success-content p {
    font-size: 1.3rem;
}
.modal .modal-content .success-content span {
    font-size: 1.3rem;
    margin-left: 10px;
    color: #5cb85c;
    font-weight: bold;
}
#success input[type="button"] {
    margin-top: 10px;
    background-color: #5cb85c;
    color: var(--textIcons);
    border: none;
    height: 40px;
    width: 30%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    cursor: pointer;
}
/* End success */
/* Start confirm */
#confirmModal {
    display: none;
}
#confirmModal .confirm-title {
    background-color: #f0ad4e;
}
#confirmModal .confirm-content h3 {
    color: #f00;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
#confirmModal .confirm-content p {
    font-size: 1.3rem;
    text-align: center;
    font-size: 1.8rem;
}
#confirmModal .buttons input[type="button"] {
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
}
/* End confirm */
/* Start edit*/
#editModal{
    display: none;
}
#editModal .editModal-content .edCatName {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
#editModal .editModal-content span {
    color: var(--primaryColor);
    font-size: 1.3rem;
    text-transform: uppercase;
}
#editModal input[value="Update"]:hover {
    background-color: #00aeff;
    opacity: 0.8;
}
#modalProduct .buttons input[value="Update"]#updateProduct {
    display: none;
}
/* END edit*/

/* Start Media queries */
@media (max-width: 320px) {
    header .icon {
        display: flex;
    }
    header .site-name {
        font-size: 0.7rem;
    }
    header .search-box {
        margin-left: 0;
    }
    header .search-box .form input{
        width: 100px;
    }
    header .user {
        font-size: 0.8rem;
    }
    .nav {
        width: 80%;
        position: absolute;
        left: 0;
        display: none;
    }
    .content {
        width: 100%;
    }
    .content .sub-sec  {
        justify-content: center;
    }
    .content .sub-sec .item {
        width: 90%
    }
    .modal .modal-content {
        width: 80%;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    header .icon {
        display: flex;
    }
    header .site-name {
        font-size: 0.9rem;
    }
    header .search-box {
        margin-left: 0;
    }
    header .search-box .form input{
        width: 100px;
    }
    header .user {
        height: 30px;
        font-size: 1rem;
    }
    .nav {
        width: 80%;
        position: absolute;
        left: 0;
        display: none;
    }
    .content {
        width: 100%;
    }
    .content .sub-sec  {
        justify-content: center;
    }
    .content .sub-sec .item {
        width: 90%
    }
    .modal .modal-content {
        width: 80%;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    header .icon {
        display: flex;
        width: 40px;
        height: 40px;
    }
    .nav {
        width: 40%;
        position: absolute;
        left: 0;
        display: none;
    }
    .content {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .nav {
        width: 20%;
    }
    .nav .nav-title {
        font-size: 1.6rem;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }
    .content {
        width: 80%;
    }
}
/* End Media queries */