header {
    background-color: #F1F1F1;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
header .navbar {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .navbar .nav-items {
    width: 50%;
}
header .navbar .nav-items ul {   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -80px;
}
header .navbar .nav-items ul li{
    text-transform: uppercase;
    font-size: 1.2rem;
}
header .navbar .search-box {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
header .navbar .search-box input {
    width: 90%;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #fff;
}
header .navbar .search-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    height: 40px;
    width: 15%;
    font-size: 1.2rem;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;
    color: #03A6EF
}
header .navbar .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    gap: 20px;
    /* display: none; */
}
header .navbar .icons .icon-item {
    
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .navbar .icons .icon-item button {
    width: 100%;
    height: 100%;
    color: #03A6EF;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}
header .navbar .account {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    display: none;
}
header .navbar .account ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: default;
}
header .navbar .account-name {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px;
    color: var(--primaryColor);
}
header .navbar .account-name p {
    font-weight: bold;
    text-transform: uppercase;
}
header .navbar ul li a:hover {
    color: #03A6EF;
    cursor: pointer;
}
header .navbar .icon-bars {
    width: 45px;
    height: 45px;
    background-color: var(--primaryColor);
    color: var(--textIcons);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
header .navbar .dropMenu {
    position: absolute;
    top: 55px;
    right: 22%;
    background-color: var(--primaryColor);
    z-index: 10;
    width: 230px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    display: none;
}
header .navbar .dropMenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
header .navbar .dropMenu ul li {
    width: 90%;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--textIcons);
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
header .navbar .dropMenu ul li:hover {
    color: #03A6EF;
    background-color: var(--textIcons);
    cursor: pointer;
}

@media (max-width: 320px) {
    header .navbar {
        width: 90%;
    }
    header .navbar .nav-items {
        width: 0;
    }
    header .navbar .nav-items ul {
        position: absolute;
        top: 60px;
        right: 0px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        background-color: var(--primaryColor);
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding: 10px 30px;
        z-index: 9;
        padding-top: 60px;
        display: none;
    }
    header .navbar .nav-items ul a {
        color: var(--textIcons);
    }
    header .navbar .search-box {
        width: 80%;
    }
    header .navbar .search-box input {
        width: 80%;
    }
    header .navbar .search-box button {
        width: 20%;
    }
    header .navbar .icons {
        position: absolute;
        display: flex;
        top: 70px;
        right: 20px;
        z-index: 10;
        display: none;
    }
    header .navbar .icon-bars {
        width: 40px;
        height: 40px;
        display: flex;
    }
    header .navbar .account {
        position: absolute;
        display: flex;
        left: 10px;
        top: 60px;
        z-index: 10;
        color: var(--textIcons);
        display: none;
    }
    header .navbar .account a {
        color: var(--textIcons);
    }
    header .navbar .account-name {
        position: absolute;
        display: flex;
        left: -10px;
        top: 70px;
        z-index: 10;
        color: var(--textIcons);
    }
    header .navbar .account-name p:nth-child(2) {
        font-weight: bold;
        color: var(--textIcons);
    }
    header .navbar .dropMenu {
        position: absolute;
        top: 100px;
        right: 22%;
        background-color: var(--textIcons);
        z-index: 10;
        width: 230px;
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
        display: none;
    }
    header .navbar .dropMenu ul li {
        color: var(--primaryColor);
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    header .navbar {
        width: 90%;
    }
    header .navbar .nav-items {
        width: 0;
    }
    header .navbar .nav-items ul {
        position: absolute;
        top: 60px;
        right: 0px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        background-color: var(--primaryColor);
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding: 10px 30px;
        z-index: 9;
        padding-top: 60px;
        display: none;
    }
    header .navbar .nav-items ul a {
        color: var(--textIcons);
    }
    header .navbar .search-box {
        width: 80%;
    }
    header .navbar .search-box input {
        width: 80%;
    }
    header .navbar .search-box button {
        width: 20%;
    }
    header .navbar .icons {
        position: absolute;
        display: flex;
        top: 70px;
        right: 20px;
        z-index: 10;
        display: none;
    }
    header .navbar .icon-bars {
        width: 40px;
        height: 40px;
        display: flex;
    }
    header .navbar .account {
        position: absolute;
        display: flex;
        left: 10px;
        top: 60px;
        z-index: 10;
        color: var(--textIcons);
        display: none;
    }
    header .navbar .account a {
        color: var(--textIcons);
    }
    header .navbar .account-name {
        position: absolute;
        display: flex;
        left: -10px;
        top: 70px;
        z-index: 10;
        color: var(--textIcons);
    }
    header .navbar .account-name p:nth-child(2) {
        font-weight: bold;
        color: var(--textIcons);
    }
    header .navbar .dropMenu {
        position: absolute;
        top: 100px;
        left: 9%;
        background-color: var(--textIcons);
        z-index: 10;
        width: 230px;
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
        display: none;
    }
    header .navbar .dropMenu ul li {
        color: var(--primaryColor);
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    header .navbar {
        width: 90%;
    }
    header .navbar .nav-items {
        width: 0;
    }
    header .navbar .nav-items ul {
        position: absolute;
        top: 60px;
        right: 0px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        background-color: var(--primaryColor);
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding: 10px 30px;
        z-index: 9;
        padding-top: 60px;
        display: none;
    }
    header .navbar .nav-items ul a {
        color: var(--textIcons);
    }
    header .navbar .search-box {
        width: 80%;
    }
    header .navbar .search-box input {
        width: 80%;
    }
    header .navbar .search-box button {
        width: 20%;
    }
    header .navbar .icons {
        position: absolute;
        display: flex;
        top: 70px;
        right: 20px;
        z-index: 10;
        display: none;
    }
    header .navbar .icon-bars {
        width: 40px;
        height: 40px;
        display: flex;
    }
    header .navbar .account {
        position: absolute;
        display: flex;
        left: 10px;
        top: 60px;
        z-index: 10;
        color: var(--textIcons);
        display: none;
    }
    header .navbar .account a {
        color: var(--textIcons);
    }
    header .navbar .account-name {
        position: absolute;
        display: flex;
        left: -10px;
        top: 70px;
        z-index: 10;
        color: var(--textIcons);
    }
    header .navbar .account-name p:nth-child(2) {
        font-weight: bold;
        color: var(--textIcons);
    }
    header .navbar .dropMenu {
        position: absolute;
        top: 100px;
        left: 9%;
        background-color: var(--textIcons);
        z-index: 10;
        width: 230px;
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
        display: none;
    }
    header .navbar .dropMenu ul li {
        color: var(--primaryColor);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    header .navbar .nav-items ul li a {
        font-size: 1rem;
    }
}