/* Start landing */
.landing {
    width: 100%;
    height: fit-content;
}
.con {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .landing-content {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.landing .landing-content .landing-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.landing .landing-content .landing-text h1 {
    width: 100%;
    font-size: 3rem;
    font-weight: 400;
    color: #767676;
    margin-bottom: 1rem;
}
.landing .landing-content .landing-text h1  span {
    font-size: 4rem;
    font-weight: 700;
    color: #03A6EF;
    margin-bottom: 1rem;
}
.landing .landing-content .landing-text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #767676;
    margin-bottom: 1rem;
}
.landing .landing-content button {
    width: 150px;
    height: 50px;
    background-color: #03A6EF;
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid #03A6EF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.landing .landing-content button:hover {
    background-color: #fff;
    color: #03A6EF;
}
.landing-pic {
    width: 700px;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.landing-pic::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    background-color: #d8d8d8;
    opacity: 0.5;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.landing-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: animate 2s linear infinite;
    -webkit-animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,
    100% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}

    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
}

/* Start Landing Queries  */
@media (max-width: 768px) {
    .con {
        width: 90%;
        margin-bottom: 40px;
    }
    .landing .landing-content {
        width: 100%;
        align-items: start;
    }
    .landing .landing-content .landing-text {
        justify-content: center;
    }
    .landing .landing-content .landing-text h1  span {
        white-space: nowrap;
    }
    .landing-pic {
        display: none;
    }
}
/* End Landing Media Queries  */

/* End landing */

/* Start Hot */
.hot {
    width: 100%;
    height: fit-content;
    background-color: #F5F5F5;
}
.hot .hot-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hot .hot-content:first-child {
    margin-top: 40px;
}
.hot .hot-content .label-con {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hot .hot-content .label-con::before {
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 40px;
    width: 120px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.hot .hot-content .label-con .right,
.hot .hot-content .label-con .left{
    position: absolute;
    color: #fff;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    background-color: #03A6EF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.hot .hot-content .label-con .left {
    left: 0px;
}
.hot .hot-content .sales {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    margin: 0 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: auto;
}

.hot .hot-content .none {
    overflow: hidden;
}

.hot .hot-content .sales::-webkit-scrollbar {
    height: 0px;
}

.hot .hot-content .sales::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track (background) invisible */
}

.hot .hot-content .sales::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (handle) invisible */
}

.hot .hot-content .sales .item {
    width: 200px;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    flex-shrink: 0;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 10px rgb(97, 97, 97);
    cursor: pointer;
}

.hot .hot-content .sales .item .item-name {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;
}

.hot .hot-content .sales .item .item-price {
    font-size: 1.2rem;
    color: #03A6EF;
}

.hot .hot-content .sales .item .item-pic {
    width: 100px;
    height: 100px;
    background-color: #767676;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.hot .hot-content .sales .item .item-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hot .hot-content .month-daily {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.hot .hot-content .month-daily .label-con {
    width: calc(100% - 5px);
}
@media (max-width: 480px) {
    .hot .hot-content .label-con .right,
    .hot .hot-content .label-con .left {
        display: none;
    }
    .hot .hot-content .month-daily {
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 1024px){
    .hot .hot-content .month-daily {
        flex-direction: column;
    }
}
/* End Hot */