<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/All.png" type="image/x-icon">
    <title>E-Store | Sing Up</title>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/Sing-Pages/header.css">
    <link rel="stylesheet" href="../static/css/Sing-Pages/landing.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>

    <header>
            <div class="navbar">
                <div class="nav-items">
                    <ul>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="search-box" title="Search">
                    <input type="text" placeholder="Search">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <div class="icon-bars">
                    <i class="fa-solid fa-bars"></i>
                </div>
        </div>
    </header>

    <div class="container">
        <section class="Sing">
            <div class="form-area">
                <div class="form-title">
                    <h3>Sing Up</h3>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
                <div class="form-items">
                    <div class="form">
                        <div class="names">
                            <input type="text" placeholder="First Name" id="Fname" maxlength="16" required>
                            <input type="text" placeholder="Last Name" id="Lname" maxlength="16" required>
                        </div>
                        <input type="email" placeholder="Email" id="email" required>
                        <input type="password" placeholder="Password" id="Password" required>
                        <input type="password" placeholder="Confirm Password" id="cPassword" required>
                        <input type="submit" value="Sing Up" id="createUserBtn">
                    </div>
                    <p>Have an account ? <a href="SingIn.html">Sing In</a></p>
                </div>
            </div>

            <div class="pic-area">
                <img src="../assets/images/singup.jpg" alt="Sing-Up Pic">
            </div>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <div>
                <h4 class="main-name">E-Store</h4>
                <ul>
                    <li>Subscribe</li>
                    <li>get 10% of your first order</li>
                    <form action="">
                        <input type="email" placeholder="Email">
                        <button><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </ul>
            </div>

            <div>
                <h4>Support</h4>
                <ul>
                    <li>Online Service 24/7</li>
                    <li>support@estore.com</li>
                    <li>+2 123456789</li>
                </ul>
            </div>

            <div>
                <h4>Account</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="../Templates/SingIn.html">Sing In</a> / <a href="../Templates/SingUp.html">Sing Up</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Wishlist</a></li>
                </ul>
            </div>

            <div>
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="copy-rights">
            <p>&copy; 2023 E-Store. All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/js/jquery-3.7.1.js"></script>
    <script src="../static/js/singup.js"></script>
</body>
</html>